img{
  width: 25%;
  height: 25%;
  padding: 15px;
  float: right;
}


.h1-font{
  font-size: 40px;
}

.justify{
  text-align: justify;
}

.home-page{
  padding-bottom: 70px;
  justify-content: center;
  padding-top: 70px;
}

.italics li{
  font-style: italic;
  text-decoration: none;
}
